
.style{
	margin: 20px;
}

a {
  border-radius: 10px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:link, a:visited {
  background-color: #f44336;
}


a:hover, a:active {
  background-color: red;
}

/*square*/
#square {
	background: grey;
	border: solid 1px;
	width: 100px;
	height: 100px;
	margin-left: 20px;
	margin-top: 10px;
	position: absolute;
}


/*fields*/
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
	border: 3px solid #00cc44;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* well done!*/
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*image*/

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
    width: 150px;
    height: 150px;
	border-radius: 50%;
}

.none {
	display: none;
}

.display {
	background-color:red;
}
